{% extends "base.html" %}
{% block title %} Create Order {% endblock %}

{% block content %}

<div class="shadow-md text-center">

    <form class="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-green-700 hover:bg-green-500 transition-colors duration-500 text-white font-medium px-4 py-2 mt-5 text-xs rounded"> 
            Proceed to Checkout
        </button>
    </form>

</div>

<style>
    ul.errorlist {
        display: none;
    }
    form p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: .4rem; /* Adds spacing between fields */
        padding: 0.4rem; /* Adds padding */      
    }

    form p label {
        width: 150px; /* Fixed width for labels */
        text-align: left;
        margin-right: 10px;
    }

    form p input {
        flex: 1; /* Allows inputs to grow and take up available space */
        max-width: 260px;
        padding: 0.1rem; /* Adds padding inside the input */
        border: 1px solid #ccc; /* Adds a border for inputs */
        border-radius: 4px; /* Rounds input corners */
        margin-right: 160px;
    }
</style>
    
{% endblock %}