{% extends "base.html" %}
{% block title %} Cart {% endblock %}

{% block content %}

<h2 class="text-2xl font-semibold mb-1 mt-0 text-center"> My Cart </h2>

{% if cart_items %}
<ul class="space-y-5">
    {% for item in cart_items %}
    <li class="flex items-center p-4">
        {% if item.product.image %}
        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="w-36 mr-5 shadow-md mb-2 shadow-slate-500">
        {% else %}
        <p> No image available </p>
        {% endif %}
        <div class="flex-grow">
            <a href="{% url 'products:product_detail' item.product.id item.product.slug %}">  
            <h3 class="font-semibold text-lg"> {{ item.product.name }} </h3>
            </a>
            <p> {{ item.product.description }} </p>
            <p class="text-teal-700"> Price: ${{ item.product.price }} </p>
            <p> Quantity: {{ item.quantity }} </p>
        
        <div class="flex-shrink">
            <form action="{% url 'cart:cart_remove' item.id %}" method="post">
            {% csrf_token %}
            <button class="bg-red-600 hover:bg-red-500 transition-colors duration-500 text-white font-medium px-4 py-2 mt-1 text-xs rounded" type="submit"> Remove </button>
            </form>
        </div>
        </div>
    </li>
    {% endfor %}
</ul>
<p class="ml-4"> <strong> Total: ${{ cart.get_total_price }} </strong> </p>
{% else %}
<p class="text-center text-gray-500 mt-5"> Your cart is empty </p>
{% endif %}

<form>
    <button class="bg-green-700 hover:bg-green-500 transition-colors duration-500 text-white font-medium px-4 py-2 mt-1 text-xs rounded"> 
        Proceed to Checkout
    </button>
</form>


{% endblock %}