{% extends "base.html"  %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}

<div class="container mx-auto p-8">
    <!-- Flexbox container to align image and details side-by-side -->
    <div class="flex flex-wrap md:flex-nowrap items-start gap-8">
        <!-- Image section -->
        <div class="w-full md:w-1/3">
            {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="h-64 w-64 object-cover shadow-md mb-4 shadow-slate-500">
            {% else %}
            <p>No image available</p>
            {% endif %}
        </div>

        <!-- Product details section -->
        <div class="w-full md:w-2/3">
            <h1 class="text-2xl font-semibold mb-2">{{ product.name }}</h1>
            <p class="text-gray-600 mb-2">{{ product.description }}</p>
            <p class="text-xl font-bold text-blue-500 mb-2">Price: ${{ product.price }}</p>

            <form action="{% url 'cart:cart_add' product.id %}" method="post" id="add-to-cart-form" class="flex items-center gap-4">
                {% csrf_token %}
                <button type="submit" class="px-2 py-1 rounded bg-blue-600 hover:bg-blue-500 text-white text-base font-bold transition-colors duration-500">Add to Cart</button>
                <p id="message" class="text-sm font-medium text-green-600"></p>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('add-to-cart-form').addEventListener('submit', function (e) {
        e.preventDefault();
        const form = e.target;
        const url = form.action;
        const formData = new FormData(form);

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken')
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            const messageElement = document.getElementById('message');
            if (data.status === 'success') {
                messageElement.textContent = 'Item added to cart';
            } else {
                messageElement.textContent = 'Error adding item to cart';
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>

{% endblock %}
