<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Shop{% endblock %}</title>
    {% load static %}

    <link href="{% static 'dist/styles.css' %}" rel="stylesheet"/>
</head>
<body class="bg-gradient-to-r from-amazon-orange to-amazon-squid-ink flex flex-col min-h-screen">
    <header class="shadow-md">    
         {% include "includes/nav.html" %}
    </header>

    <main class="container mx-auto py-8 flex-grow"> 
        {% block content %}{% endblock %}
    </main>

     <footer>
        <div class="container mx-auto p-1 text-center">
            <p>&copy; 2025 My Amazon</p>
        </div>
    </footer> 
</body>
</html>